@model List<fns.Models.Admin.VModels.vNews>

@foreach (var item in Model)
{
    <tr>
        <td>@item.id</td>
        <td>@item.title</td>
        <td>@item.content</td>
        <td>@item.insDt</td>
        <td style="display:flex;">
            <a href="javascript:void(0);" onclick="gotoEditNews(@item.id)"><i class="fa fa-pencil fa-fw"></i></a>
            <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-remove fa-fw"></i></a>
        </td>
    </tr>
}

<script>
        function gotoEditNews(id) {
            $.ajax({
                url: '/News/EditNews',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',//'application/x-www-form-urlencoded;charset=utf-8',//
                data: { "id": id },
                async: true,
                success: function (data, status) {
                    $("#divEditNews").html(data);
                    $("#divNewsList").css("display","none");
                }
            }); //ajax


    }

</script>